<!-- templates/signup.html -->
{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="container" style="margin-top:50px">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card">
            <div class="card-header custom-card-header"> Fill the following form to make new account.</div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-7">
                        <form method="post">
                            {% csrf_token %} {{ form|crispy }}
                            <button class="btn btn-success" type="submit">Sign Up</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}