 body {
	/* background: rgba(44, 62, 80, .8); */
	font-family: 'Oswald', 'Futura', sans-serif;
	/* font: 'Times New Roman'; */
	/* color: white */
 }
#wrapper {
	margin-top: 10% !important;
}
#content {
	background: #1d5dec;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: white;
}
.list-group-item {
	color: black;
}

.card .custom-card-header
{
	background: #1d5dec;
	font-weight: bold;
	color: white;
	text-align: center;
}

.col-form-label{
	color: #9c27b0
}
/* .progress-bar {
	margin: 20px;
	width: 400px;
	height: 8px;
  } */
  label {
	  color:rgb(0, 0, 0);
	  margin-right: 5px
  }

  .navbar .navbar-nav .nav-item .nav-link{
	  font-size: 16px;
  }

  .navbar .navbar-brand{
	  font-size: 1.6rem;
  }

  
	  /* background-color: black!important;
	  /* background-color: white!important; */
	  /* color: white */ 
	  /* color: black */
	  /* background: #1d5dec;
	background: linear-gradient(left, #0272a7, #013953);
	background: -moz-linear-gradient(left, #0272a7, #013953);
	background: -webkit-gradient(linear, 100% 100%, 0% 0%, from(#0272a7), to(#013953));
	color: #f8f9fa;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: block; */
  
  
  /* .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link:hover {

	border-bottom: 3px solid #1d5dec;

} */
.navbar,.card .custom-card-header,
.dropdown-menu .dropdown-item:hover {
	background: #1d5dec;
	background: linear-gradient(left, #0272a7, #013953);
	background: -moz-linear-gradient(left, #0272a7, #013953);
	background: -webkit-gradient(linear, 100% 100%, 0% 0%, from(#0272a7), to(#013953));
	color: #f8f9fa;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: block;
}


