{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" /> -->

        <link rel="stylesheet" href="{%static 'css/material-kit.min.css' %}" />
        <!-- <link href="{%static 'css/gogcss.css' %}" rel="stylesheet" /> -->
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" />
        <audio src="{%static 'media/finish.mp3'%}" id="my_audio"></audio>
    </head>
    <title>TaskTimer App</title>
</head>

<body>

 <!-- NavBar -->
 {% include 'partials/_navbar.html' %}
   <!-- Main Content -->
 {% block content %} {% endblock %}
 <!-- Footer -->
 {% include 'partials/_footer.html' %}
 <script src="{%static 'js/jquery-3.3.1.slim.min.js' %}"></script>
 <script src="{%static 'js/bootstrap.min.js' %}"></script>
 <script src="{%static 'js/popper.min.js' %}"></script>
 <script src="{%static 'js/material-kit.min.js' %}"></script>
 

<script src="{% static 'js/progressbar.min.js' %}"></script>
<script>
    
     
 function timer(progress_bar_id) {
     var duration_min = '{{task_duration}}'
     var duration_milli = '{{task_duration}}' * 1000 * 60
     var progress_bar_id = document.getElementById('duration_bar_{{task_id}}');
     $(progress_bar_id).empty();
     
     // $(e).addClass('progress-bar')
     //console.log(duration_milli*1000)
     //console.log(parseInt((duration_milli  % 1000) / 100))

     var bar = new ProgressBar.Line(progress_bar_id, {
         strokeWidth: 4,
         easing: 'easeInOut',
         duration: duration_milli,
         color: '#FFEA82',
         trailColor: '#eee',
         trailWidth: 1,
         svgStyle: {
             width: '100%',
             height: '100%'
         },
         text: {
             style: {
                 // Text color.
                 // Default: same as stroke color (options.color)
                 color: 'rgb(0, 68, 255)',
                 position: 'relative',
                 align: 'center',
                 left: '55px',

                 //   top: '20px',
                 padding: 0,
                 margin: 0,
                 transform: null
             },
             autoStyleContainer: false
         },

         from: {
             color: 'rgb(0,255,0)'
         },
         to: {
             color: 'rgb(255,0,0)'
         },
         step: (state, bar) => {
             bar.path.setAttribute('stroke', state.color);
             //bar.setText(Math.round(bar.value() * 100) + ' %' + " *************************" + (
               //      duration_min - (bar.value() * duration_min)).toFixed(2) +
                 //'  minutes remaining');
             //bar.setText(msToTime(duration_milli-duration_milli/100*bar.value()))
    
             
             //console.log(msToTime((duration_milli)*bar.value()))
         }
     });

     bar.animate(1);
    
    
     timerwatch('{{task_duration}}'*60, '{{task_duration}}'*60);

     setTimeout(function () {
         document.getElementById("my_audio").play();
     }, duration_milli);
 };

 function timerwatch(timeleft, timetotal) {
    document.getElementById('remaining_time_{{task_id}}').innerHTML =Math.floor(timeleft/60) + ":"+ timeleft%60;
        //remaining_time_id.innerHTML(Math.floor(timeleft/60) + ":"+ timeleft%60);
        console.log((Math.floor(timeleft/60) + ":"+ timeleft%60));
        if(timeleft > 0) {
             setTimeout(function() {
                 timerwatch(timeleft - 1, timetotal);
             }, 1000);
         }
     };

     $(window).on('resize', function(){
        var win = $(this);
        if (win.width() < 900) { 
  
        $('.btn-group').addClass('btn-group-vertical');
  
        }
      else
      {
          $('.btn-group').removeClass('btn-group-vertical');
      }
  
  });
</script>


</body>

</html>